/*RESET CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*utilities*/
.etichetta{
    margin: auto 5px;
    float: left;
    width:calc(100%/4 - 40px);
    background-color: black;
    
}

.testo{
    color: white;
}


h1{
    color:rgb(180, 46, 69);
    text-align: center;
    width:100%;
    margin: 100px auto;
}

.contenitore{

    margin:0 10%;
}

p{
    text-align: center;
    width: 100%;
    margin: 100px auto;
}

div img{
    float: left;
    width: 70px;
}



/*tecnica row*/
.row{
    margin:0 auto;
    padding: 0 30px;
    
}

/*tecnica clearfix*/
.etichetta::after ,
.row::after{
    content:"";
    clear:both;
    display:table;
}