/*RESET CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'fredoka one'  ;
    background-color: black;
}

/*utilities*/

.colonna{
    float: left;
    width:calc(100%/3);
    padding: 10px;
}


.etichetta{
    height: 80px;
    background-color: black;  
}

.testo{
    color: white;
}

.testi{
    height: 80px;
    text-align: left;
}

h1{
    color:rgb(180, 46, 69);
    text-align:center;
    width:100%;
    margin: 70px auto;
    padding-top:50px;
}

.contenitore{
    background-color:white;
    margin:0 5%;
    padding: 0 10%;
}

p{
    text-align: center;
    margin: 100px auto;
}

div img{
    float: left;
    height: 100%;
}


/*tecnica row*/
.row{
    margin:0 -10px;
}

/*tecnica clearfix*/
.etichetta::after ,
.row::after{
    content:"";
    clear:both;
    display:table;
}

.row:last-child{

    padding-bottom:100px;

}
